h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 20pt;
    text-align: center;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 12pt;
    text-align: center;

  }

label {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 12pt;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;

}
  

button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 12pt;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#output {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 12pt;
    border: 1px solid #4f4f50;
    height: 150pt;
    width: auto;
    overflow-y: auto;
    text-align: center;
    background-color: rgb(233, 227, 227);
  }

ol {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 10pt;
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    }

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    }

footer {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #7a7979;
    font-size: 10pt;
    text-align: center;
    display: block;
    margin-top: 20px;
    padding: 10pt;
    line-height: 1.5;
    }